$navbar-dark-color: hsla(10, 100%, 50%, 0.788);
$primary: hsla(292, 100%, 50%, 0.788);

@import '../node_modules/bootstrap/scss/bootstrap';

#app {
  height: 100vh;
}

header {
  margin-bottom: 5.5rem;
}

.carousel-control-prev-icon {
  background-color: red;
}

.carousel-control-next-icon {
  background-color: red;
}