$navbar-dark-color: hsla(10, 100%, 50%, 0.788);
$primary: hsla(292, 100%, 50%, 0.788);

@import '../node_modules/bootstrap/scss/bootstrap';

#app {
  height: 100vh;
}

header {
  margin-bottom: 5.5rem;
}

.carousel-control-prev-icon {
  background-color: red;
}

.carousel-control-next-icon {
  background-color: red;
}
.bg-image {
background-image: url('https://img.freepik.com/vecteurs-libre/graphique-terre-3d-symbolisant-illustration-du-commerce-mondial_456031-125.jpg?w=1380&t=st=1696923596~exp=1696924196~hmac=cfaf6d29b54922454ff3fbc2555203b1c24e84ad599fdb03e1b151457a8b798e');
height: 400px;
width: auto;
}

.carousel-item{
  width: 400px;
    height:400px;
    left: 35%;
    top:20px;
}

